.header {
  height: 70px;
  background-color: rgb(130, 255, 186);
  display: flex;
  justify-content: space-between;
  color: white;
  .title {
    font-size: 29px;
    display: flex;
    align-items: center;
  }
}

.nav {
  width: 300px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .nav-link {
      width: 100px;
  }
}